# Configuration de base
NODE_ENV=development
PORT=5000

# Base de données PostgreSQL
# Pour développement local
DATABASE_URL="postgresql://username:password@localhost:5432/explorouen_db?schema=public"
# Pour production (Supabase/Render/Railway)
# DATABASE_URL="postgresql://postgres:password@db.xxx.supabase.co:5432/postgres"

# JWT
JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRES_IN=7d

# Redis (optionnel pour le cache)
REDIS_URL=redis://localhost:6379

# Email Configuration
# Pour la production (Resend)
RESEND_API_KEY=re_WRjtbRpf_PMGVFEir5RGGTxKwr5n2YEsJ
FROM_EMAIL=contact@explorouen.fr

# Mailtrap Configuration
MAILTRAP_USER=f001ad3b8b23cf  # Généralement un identifiant comme "1234567890ab"
MAILTRAP_PASS=02bef102225a2f
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
EMAIL_PROVIDER=mailtrap

# Upload de fichiers
MAX_FILE_SIZE=5242880
UPLOAD_PATH=./uploads

# CORS
FRONTEND_URL=http://localhost:8081

# Clerk Configuration
CLERK_PUBLISHABLE_KEY=pk_test_YW1wbGUtYmVkYnVnLTMxLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_IM3EePwuk0LOluniGS9PsZiMDDVoOEt820D4h7sQUR